.page {
  height: 100%;
}

.wrap {
  width: 72rem;
  padding: 1rem;
  border: 1px solid white;
  margin: 0 auto;
  height: 100%;
}

.request {
  width: 100%;
  padding: 0.2rem;
  height: 4rem;
  font-size: 110%;
  resize: none;
}
.button {
  width: 100%;
  padding: 0.2rem;
  font-size: 110%;
}
